<section class="page">
  <div class="page__logo">
    <img src="/assets/img/logo.svg">
  </div>

  <section class="content">
    <div class="content__texts texts">
      <h1 class="texts__title">WRITE EVERYDAY</h1>

      <p class="texts__explanation">
        I’ve made this site because i wanted to write something everyday, and maybe you want to. Write it off,
        anything
        that is in your head, unthrought and uncensored.

        Since i like to write at the end of the day, i’ve just named it ‘Day’s over’. Enjoy your stay!
      </p>

      <button class="texts__cta" [routerLink]="'/dashboard'">I want to try</button>
    </div>
    <div class="content__art art">
      <img src="/assets/img/frontpage_art.svg" class="art__drawing">
    </div>
  </section>

</section>
